/* Le code CSS spécifique à la page d'accueil */

body{
    margin: 0;
    width: 100%;
    height: 100%;
    
}
nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: yellow;
}
.logo-nav{

width: 30vh;
height: 9VH;
}
.Document{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 90px;
    border-color: black;
}
.donwload{
    background-color: yellow;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border-color: black;
}
/* img{
    height: 50px;
    width: 50px;
} */
header{
    width: 100%;
    height: 100%;
    background: beige;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6px;
}
h1{
    color: rgb(19, 31, 156);
}
.container-img-header{
    display:flex;
    gap: 16px;
    
}
.cont{
    display: flex;
    flex-direction: column;
}
.photo-head1{
    width: 200px;
    height: 100px;
}
.iu{
    display: flex;
    flex-direction: column;
}
.ui{
    display: flex;
    
}
.img-head-container{
    display: flex;
        flex-direction: column;
}
.photo-head2{
    width: 200px;
    height: 100px;
}
.photo-head3{
    width: 200px;
    height: 100px;
}

main{
display: flex;
flex-direction: column;
background: beige;
}

/* .texte_contexte{
    display: flex;
} */
.img-contexte{
    width: 10vh;
height: 3VH;
}

/* section{
    width: 200vh;
    height: 200vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin-bottom: 6px;

} */
.fontionnalité{
    display: flex;
    flex-direction: column;
}


.info-auteur{
display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(7, 17, 136);
  border: 1px solid #ccc;
  border-radius: 10px;
  
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  


}
 .image-auteur{
   height: 100px;
   width: 100px;
   border-radius: 100%;
} 
.img-page-fonctionalité{
width: 25%;
height: 25%;

}
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(176, 247, 36);
} 


.reseau{
    display: flex;
}
.Contacte {
    display: flex;
    

}
.container-contact {
    display: flex;
    
    
}

.container-reseau {
    display: flex;
    align-items: center;
}
 